<!DOCTYPE html>
<html>
  <head>
    <title>RonxaatSze</title>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'%>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div class="container">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" <%= link_to "Irodák", home_path %><span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" <%= link_to "Új iroda", new_office_path %></a>
          </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
